html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #EEEEEE;
}

#typing-box {
    width: 100%;
    margin-bottom: 20px;
    background-color: #393E46;
    color: #EEEEEE;
}

textarea::placeholder {
    color: #EEEEEE;
}